root = true

[*.java]
ij_java_do_not_wrap_after_single_annotation = true
ij_java_field_annotation_wrap = normal

[*.{js,vm,ftl}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.{ts,tsx}]
ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true
ij_typescript_force_semicolon_style = true

[{package,package-lock}.json]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true